a:hover{
    text-decoration: none;
    color: black;

}

.dropdown-menu{
    background: #ccc;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    margin: 4px -16px;
    border-bottom: 1px solid #ccc;
    border-left:1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-top: 50px;

}

