*{
    margin:0px;
    font-family: sans-serif;
}

.menu {
    background: #778899;
    float: left;
    padding: 8px;
    width: 100px;
    text-align:center;
    min-height: 100vh;

}
.logo{

}
img.logo-painel{

}
.list-menu{

}