*{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
}

.menu {
    background: #2a3f54;
    float: left;
    padding: 4px;
    width: 100px;
    text-align:center;
    min-height: 100vh;

}
.logo{

}
img.logo-painel{

}
.list-menu{
    float: left;
    width: 100%;
    margin-top: 26px;

}

ul.menu-lista{
    list-style: none;

}
ul.menu-lista li{

}
ul.menu-lista li a{
    font-size: 1em;
    margin: 14px 0px;
    float: left;
    width:100%;
    color:#fff;

}
ul.menu-lista li a i{
    font-size: 1em;
    display:block;
}
a {
    color: #fff;
    text-decoration: none;
}
.content {
    float: left;
    background: #e2e2e2;
    min-height: 100vh;
    width:calc(100% - 100px);
    text-align: center;
}

.top-dashboard{
    width: 100%;
    float: left;
    background: #87CEEB;
    padding: 4px;

}

img.user-dashboard{
    width: 45px;
    float: left;
    padding: 5px;
}

.user-name{
    float: left;
    margin: 12px 10px;
    font-weight: bold;

}
.dp-menu{

}
.user-dash{
    float: right;
    cursor:pointer;
}
.user-dash span.caret{
    margin: 12px 10px;

}

.content-ds{

}
.title-pg{

}
h1.title-pg{
    font-size: 2em;
    margin: 6px 10px;
    float: left;
}

.content-din{

}
.bred{
    padding: 10px;
    float: left;
    width: 100%;
}
 a.bred{
     float: left;
     width:initial;
     color: #2a3f54;
 }

 .rel-dash{
     background: #fff;
     padding: 0px;
     float: left;
     font-size: 3em;
     margin: 30px;
     border-radius: 6px;

 }

 .rel-dash i{
     font-size:1.4em;
     float: left;
     background: aqua;
     padding: 25px;

 }

 .text-rel {
     float:left;
 }

.result-ds{
    font-size: 0.4em;
    margin: 10px;
}

.result{
    font-size: 0.6em;
}

.content-din{
    float: left;
    width: 100%;
    padding:10px;

}